version: "3.8"

services:
  the_capital_fund_app:
    build: .
    image: the_capital_fund_image
    container_name: the_capital_fund_container
    ports:
      - "10000:10000"
    environment:
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1
      - PORT=10000