name: deploy

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 6 * * *'

jobs:
  checks:
    runs-on: ubuntu-latest
    env:
      PYTHONPATH: ${{ github.workspace }}
      API_KEY: ${{ secrets.API_KEY }}
      PEPPER: ${{ secrets.PEPPER }}

    steps:
      - name: checkout repo content
        uses: actions/checkout@v4

      - name: set up python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: install poetry
        run: |
          curl -sSL https://install.python-poetry.org | python -

      - name: configure poetry
        run: |
          poetry config virtualenvs.create false

      - name: install dependencies with poetry
        run: |
          poetry install

      - name: lint with ruff
        run: |
          poetry run ruff check . --fix --line-length 120

  deploy:
    runs-on: ubuntu-latest
    needs: checks
    if: ${{ success() }}
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: login to ecr
        id: ecr-login
        uses: aws-actions/amazon-ecr-login@v2

      - name: build, tag, push to ecr
        env:
          ECR_REGISTRY: ${{ steps.ecr-login.outputs.registry }}
          ECR_REPOSITORY: thecapitalfund
          IMAGE_TAG: latest
        run: |
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

      - name: deploy to ecs
        run: |
          aws ecs update-service \
            --cluster thecapitalfund \
            --service thecapitalfund \
            --force-new-deployment
